<div class="radio" ng-repeat="boat in ctrl.boats">
    <label><input ng-model="ctrl.selected" type="radio" value="{{boat.name}}"><div class="form-output">{{boat.name}}</div></label>
</div>

<div class="radio">
    <label>
        <input ng-model="ctrl.selected" value="custom" type="radio">
        <div class="input-group">
            <input class="form-control" placeholder="Something else..." ng-focus="ctrl.selected = 'custom'" ng-model="ctrl.custom">
            <div class="input-group-btn">
                <button class="btn btn-default"><span class="glyphicon glyphicon-pushpin"></span></button>
            </div>
        </div>
    </label>
</div>