<div ng-show="ctrl.isEditing" class="input-group">
    <ui-select ng-model="ctrl.selected" theme="bootstrap">
        <ui-select-match placeholder="Your name...">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="rower in ctrl.rowers | filter:{name: $select.search} | limitTo: 10 track by $index"
                           refresh-delay="0">
            <div ng-bind-html="rower.name | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>

    <div class="input-group-btn">
        <button class="btn btn-default" ng-click="ctrl.select(ctrl.selected)"><span class="glyphicon glyphicon-ok"></span></button>
    </div>
</div>

<div ng-hide="ctrl.isEditing">
    <button class="pull-right btn btn-default" ng-click="ctrl.isEditing = true"><span class="glyphicon glyphicon-pencil"></span></button>
    <div class="form-control-static">{{ctrl.selected.name}}</div>
</div>