.center {
    text-align: center;
}

[ng-cloak] {
    display: none;
}

.log {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slide {
    transition: all 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.slide.ng-enter {
    transform: translate3d(-100%, 0, 0);
    transition-duration: 250ms;
    opacity: 0;
}
.slide.ng-enter-active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
.slide.ng-leave {
    transform: translate3d(0, 0, 0);
    transition-duration: 250ms;
    opacity: 1;
}
.slide.ng-leave-active {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
}

.slide.ng-enter-stagger {
    transition-delay: 100ms;
    animation-delay: 100ms;
}

.long-press {
    transition-duration: .5s;
    background-color: #EF9292 !important;
}