<div class="panel panel-default">
    <div class="panel-body">
        <rower-picker selected="ctrl.rower"></rower-picker>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Add trip</strong>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-6">
                    <description-picker selected="ctrl.newTrip.description"></description-picker>
                </div>
                <div class="col-xs-6">
                    <description-picker selected="ctrl.newTrip.boat"></description-picker>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="form-group">
                <h2 class="align-center">{{ctrl.newTrip.distance}} km</h2>
                <input type="range" ng-model="ctrl.newTrip.distance" step="1" min="1" max="{{ctrl.maxDistance}}">
            </div>
        </li>
    </ul>

    <div class="panel-body align-right">
        <button ng-disabled="ctrl.adding" class="btn btn-lg btn-default" ng-click="ctrl.addTrip()">Add trip</button>
    </div>
</div>

<div ng-show="ctrl.trips" class="panel panel-default">
    <div class="panel-heading">
        <strong>Trips</strong>
    </div>
    <table class="log table">
        <thead>
        <tr><th>Started</th><th>Distance</th><th>Total</th></tr>
        </thead>
        <tbody>
        <tr class="slide" ng-repeat="trip in ctrl.trips track by trip.date" longpress="ctrl.deleteTrip(trip.id)"><td>{{trip.date}}</td><td>{{trip.distance}}</td><td>{{trip.total}}</td></tr>
        </tbody>
    </table>
</div>