<div class="radio" ng-repeat="description in ctrl.descriptions">
    <label><input ng-model="ctrl.selected" type="radio" value="{{description}}"><div>{{description}}</div></label>
</div>
<div class="radio">
    <label>
        <input ng-model="ctrl.selected" value="custom" type="radio">
        <div>
            <input placeholder="Description..." ng-focus="ctrl.selected = 'custom'" ng-model="ctrl.custom">
            <span class="glyphicon glyphicon-pushpin"></span>
        </div>
    </label>
</div>